@mixin breakpoint($point) {
  @media (min-width: map-get($breakpoints, $point)) {
    @content;
  }
}

@mixin pseudo($display: block, $pos: absolute, $content: '') {
  content: $content;
  display: $display;
  position: $pos;
}
